.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
width: 100px;
}

.nav-items> ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    
}

.nav-items> ul>li{
    padding: 10 px;
    margin: 10px;
}

.search-bar{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

.res-card {
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  overflow:auto;
}


.res-Container{
    display: flex;
    flex-wrap:wrap;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width:100%;
    
    
}





